@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

.glitchWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    font-family: "Unbounded", serif;
    font-size: 1em;
    top: 0%;
    left: -0%;
    transition: all 2s ease;
}

.glitch {
    position: relative;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 5px;
    animation: shift 4s ease-in-out infinite alternate;
    z-index: 1;
}

.glitch_logo {
    width: 100vw;
    height: 100vh;
    color: #fff;
    animation: shift 4s ease-in-out infinite alternate;
    z-index: 1;
}

.glitch:before {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: -2px;
    text-shadow: -1px 0 #00ffff;
    width: 100%;
    color: #fff;
    background-color: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch:after {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 2px;
    text-shadow: 1px 0 #ff00ff;
    width: 100%;
    color: #fff;
    background-color: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-after 2s infinite linear alternate-reverse;
}

@keyframes noise-before {
    0% {
        clip: rect(61px, 9999px, 52px, 0);
    }

    5% {
        clip: rect(33px, 9999px, 144px, 0);
    }

    10% {
        clip: rect(121px, 9999px, 115px, 0);
    }

    15% {
        clip: rect(144px, 9999px, 162px, 0);
    }

    20% {
        clip: rect(62px, 9999px, 180px, 0);
    }

    25% {
        clip: rect(34px, 9999px, 42px, 0);
    }

    30% {
        clip: rect(147px, 9999px, 179px, 0);
    }

    35% {
        clip: rect(99px, 9999px, 63px, 0);
    }

    40% {
        clip: rect(188px, 9999px, 122px, 0);
    }

    45% {
        clip: rect(154px, 9999px, 14px, 0);
    }

    50% {
        clip: rect(63px, 9999px, 37px, 0);
    }

    55% {
        clip: rect(161px, 9999px, 147px, 0);
    }

    60% {
        clip: rect(109px, 9999px, 175px, 0);
    }

    65% {
        clip: rect(157px, 9999px, 88px, 0);
    }

    70% {
        clip: rect(173px, 9999px, 131px, 0);
    }

    75% {
        clip: rect(62px, 9999px, 70px, 0);
    }

    80% {
        clip: rect(24px, 9999px, 153px, 0);
    }

    85% {
        clip: rect(138px, 9999px, 40px, 0);
    }

    90% {
        clip: rect(79px, 9999px, 136px, 0);
    }

    95% {
        clip: rect(25px, 9999px, 34px, 0);
    }

    100% {
        clip: rect(173px, 9999px, 166px, 0);
    }
}

@keyframes noise-after {
    0% {
        clip: rect(26px, 9999px, 33px, 0);
    }

    5% {
        clip: rect(140px, 9999px, 198px, 0);
    }

    10% {
        clip: rect(184px, 9999px, 89px, 0);
    }

    15% {
        clip: rect(121px, 9999px, 6px, 0);
    }

    20% {
        clip: rect(181px, 9999px, 99px, 0);
    }

    25% {
        clip: rect(154px, 9999px, 133px, 0);
    }

    30% {
        clip: rect(134px, 9999px, 169px, 0);
    }

    35% {
        clip: rect(26px, 9999px, 187px, 0);
    }

    40% {
        clip: rect(147px, 9999px, 137px, 0);
    }

    45% {
        clip: rect(31px, 9999px, 52px, 0);
    }

    50% {
        clip: rect(191px, 9999px, 109px, 0);
    }

    55% {
        clip: rect(74px, 9999px, 54px, 0);
    }

    60% {
        clip: rect(145px, 9999px, 75px, 0);
    }

    65% {
        clip: rect(153px, 9999px, 198px, 0);
    }

    70% {
        clip: rect(99px, 9999px, 136px, 0);
    }

    75% {
        clip: rect(118px, 9999px, 192px, 0);
    }

    80% {
        clip: rect(1px, 9999px, 83px, 0);
    }

    85% {
        clip: rect(145px, 9999px, 98px, 0);
    }

    90% {
        clip: rect(121px, 9999px, 154px, 0);
    }

    95% {
        clip: rect(156px, 9999px, 44px, 0);
    }

    100% {
        clip: rect(67px, 9999px, 122px, 0);
    }
}

@keyframes shift {

    0%,
    40%,
    44%,
    58%,
    61%,
    65%,
    69%,
    73%,
    100% {
        transform: skewX(0deg);
    }

    41% {
        transform: skewX(10deg);
    }

    42% {
        transform: skewX(-10deg);
    }

    59% {
        transform: skewX(40deg) skewY(10deg);
    }

    60% {
        transform: skewX(-40deg) skewY(-10deg);
    }

    63% {
        transform: skewX(10deg) skewY(-5deg);
    }

    70% {
        transform: skewX(-50deg) skewY(-20deg);
    }

    71% {
        transform: skewX(10deg) skewY(-10deg);
    }
}

* {
    margin: 0;

}

.wrapper {
    width: 100vw;
    height: 100vh;
    background: black;
    font-size: 12px;
    overflow: hidden;
}

.snow {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(./snowfall.png);
    z-index: 2;
    background-size: 50%;
    background-repeat: repeat;
    animation: snow_falling 60s linear infinite;
    animation-delay: calc(-2s* var(--i));
}

@keyframes snow_falling {
    0% {
        background-position-y: 100%;
    }

    100% {
        background-position-y: -100%;
    }
}


.typewriter div {
    color: #ffffff;
    overflow: hidden;
    border-right: 0.05em solid rgba(255, 255, 255, 0.76);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.1em;
    animation: typing 2.5s steps(20, end) infinite, blink-caret .5s step-end infinite;
    font-size: 10em;
}

@keyframes typing {
    0% {
        width: 0;
        opacity: 0;
    }

    29.9% {
        width: 0;
        opacity: 0;
    }

    30% {
        width: 0;
        opacity: 1;
    }

    80% {
        width: 100%
    }

    100% {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: rgb(255, 255, 255)
    }
}

.typewriter {
    color: transparent;
    background-color: transparent;
    text-shadow: -1px -1px 8px #ffffff40, 1px -1px 8px #ffffff40, -1px 1px 8px #ffffff40, 1px 1px 8px #ffffff40;
    font-size: 0.2em;
}

.wrapper_1 {
    transform: translate(-20%, -36%);

}

.wrapper_2 {
    transform: translate(20%, -26%);

}

.wrapper_3 {
    transform: translate(-25%, 30%);
}

.wrapper_4 {
    transform: translate(-18%, -18%);
}

.wrapper_5 {
    transform: translate(6%, 15%);
}


.animateToCenter {
    transform: translate(0%, 0%);
    transition: all 2s ease;
    background: transparent !important;
    scale: 0.5;
    opacity: 0.2;
}

.logo {
    width: 60%;
}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #6AB3FF, #B041EE, #EE7AC2, #FFFFFF);
    background-size: 200% 200%;
    -webkit-mask-image: url('logo.png');
    mask-image: url('logo.png');
    mask-size: 219px auto;
    mask-repeat: no-repeat;
    -webkit-mask-size: 219px auto;
    -webkit-mask-repeat: no-repeat;
    mask-position: 50%;
    animation: gradientAnim 6s infinite alternate;
}

@keyframes gradientAnim {
    0% {
        background-position: 50% 0%;
    }

    100% {
        background-position: 50% 100%;
    }
}


.wrapper_logo {
    z-index: 10000;
    opacity: 0;
    transition: opacity 1.5s ease, all 2s ease-in-out;
    transform: translate(0%, 0%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main_text {
    height: 100vh;
    width: 99vw;
    overflow: hidden;
    z-index: 100;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    color: white;
    text-align: center;
    font-family: 'Unbounded';
    font-weight: 100;
    transition: all 2s ease;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
}

.main_text_visible {
    transform: translate(0%, -47%);
    opacity: 1;
}

.glitchWrapper_visible {
    transform: translate(0%, -20%);
}

@media only screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .snow {
        background-size: 100%;
    }
}
